.FAQ {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem;

  .header {
    font-size: 2rem;
    font-weight: 500;
    transition: color 0.5s;
  }
}

@media (max-width: 510px) {
  .FAQ {
    .header {
      font-size: 1.6rem;
    }
  }
}
