.cardParent {
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  margin: 2rem;
}

.card {
  background: url("https://res.cloudinary.com/dhry5xscm/image/upload/v1709721990/GDSC%20images/bg-pattern-bottom-right_bj7izm.svg"), url("https://res.cloudinary.com/dhry5xscm/image/upload/v1709721988/GDSC%20images/bg-pattern-bottom-left_doblwp.svg"), url("https://res.cloudinary.com/dhry5xscm/image/upload/v1709721982/GDSC%20images/bg-pattern-top-left_xijini.svg");
  background-repeat: no-repeat;
  background-position: 200% 200%, -200% 200%, -200% -200%;
  width: 15rem;
  height: 18rem;
  box-shadow: 0 0 1rem #828283;
  border: 0px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.5s;

  .name {
    font-size: 0.8rem;
    margin-top: 1rem;
    transition-duration: 0.5s;
  }

  .card-img {
    scale: 0.8;
    width: 90%;
    height: 80%;
    object-fit: cover;
    border: 0 solid transparent;
    margin: 0 auto;
    border-radius: 100%;
    transition-duration: 0.5s;
    z-index: 1;
  }
}



.cardParent:hover .card-img {
  transition-duration: 0.5s;
  scale: 1.05;
}

.cardParent:hover .name {
  font-size: 0.9rem;
  transition-duration: 0.5s;
}

.cardParent:hover .card {
  background-position: 100% 100%, 0% 100%, 0% 0%;
  transition-duration: 0.5s;
}

.socialBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #547DBF;
  padding: 0.5rem;
  height: 90%;
  transition-duration: 1s;
  opacity: 0;
  border: 0 solid transparent;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  .icon {
    color: #ffffff;
    margin: 1rem 0.02rem;
  }
}

.cardParent:hover .socialBar {
  transition-duration: 1s;
  opacity: 1;
}

@media screen and (max-width:709px) {
  .cardParent {
    display: none;
  }
}