.cardContainer {
  display: flex;
  width: 18%;
  margin: 3rem 3rem;
  font-family: var(--gdsc-font-1);
  border-radius: 12px;
  text-align: center;
  cursor: default;
  transition: 800ms;
  box-shadow: 2px 10px 20px rgb(0 0 0 / 0.1), 2px 6px 6px rgb(0 0 0 / 0.1);
  .card-img {
    width: 70%;
    border-radius: 50%;
    margin-top: 2rem;
    transition: 600ms;
  }
  .info {
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
    transition: 600ms;
  }
  .field {
    font-size: 1.125rem;
  }
  .name {
    font-size: 1.875rem;
  }
  .links {
    position: absolute;
    background-color: #547dbf;
    color: white;
    border-radius: 0px 999px 999px 0px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    transition: 1.2s;
    animation: fade-out 900ms forwards;
  }
  .linksContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  .linkTop {
    margin-top: 4px;
    cursor: pointer;
    font-size: 40px;

    @media screen and (max-width: 1024px) {
      font-size: 30px;
    }

    @media screen and (max-width: 380px) {
      font-size: 25px;
    }
  }
  .link {
    cursor: pointer;
    font-size: 40px;

    @media screen and (max-width: 1024px) {
      font-size: 30px;
    }

    @media screen and (max-width: 380px) {
      font-size: 25px;
    }
  }
  &:hover {
    box-shadow: 2px 2px 3px 3px #a7c3f0;
    .links {
      animation: fade-in 700ms forwards;
    }
    .card-img {
      scale: 1.1;
    }
    .info {
      margin-top: 1rem;
      margin-bottom: 1.25rem;
    }
    .topLeft {
      animation: top-left-ani 700ms forwards;
    }
  }
}

@keyframes top-left-ani {
  from {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  to {
    height: 70px;
    width: 70px;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .cardContainer {
    width: 24%;
    margin: 2.5rem 1.8rem;
  }
}

@media (max-width: 870px) {
  .cardContainer {
    width: 30%;
    margin: 2.5rem 1.8rem;
  }
}

@media (max-width: 768px) {
  .cardContainer {
    width: 45%;
    margin: 1rem 0.75rem;
  }
}

@media (max-width: 480px) {
  .cardContainer {
    width: 70%;
    margin: 1rem 0;
  }
}
